@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: absolute;
}

/* -----First Nav Bar----- */

.main-nav {
  width: inherit;
  display: grid;
}

nav {
  position: fixed;

}

.first-nav {
  background: rgb(236, 238, 240);
  display: flex;
  justify-content: center;
  padding-left: 40px;

}

.hbg-link {
  display: none;
}

.logo {
  margin-top: 0;
  position: absolute;
  bottom: 75%;
  left: 2%;
}

.logo a {
  font-size: 1.5em;
  color: #f2f2f2;
  font-weight: 600;
  text-decoration: none;
}

.logo img {
  width: 50px;
  height: 40px;
  border-radius: 100%;
}

.nav-list {
  display: flex;
  padding: 0 20px;
  font-weight: 600;
}

.contact {
  display: flex;
  margin-top: 20px;
  font-weight: 600;
}

.nav-list li {
  list-style: none;
  padding: 20px;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: 600;
}

i {
  margin-right: 3px;
  color: rgb(5, 106, 201);
}

.mail {
  margin-right: 20px;
}

/* -----Second Nav bar---- */

.second-nav {
  background: #131921;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;

}

.search {
  display: flex;
}

.second-srch {
  display: none;
}

.search-input {
  width: 600px;
  padding: 12px 5px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;

}

.submit {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 6px;
  background: #58aff2;
  font-weight: 600;
  cursor: pointer;
}

.cart {
  font-size: 2em;
  margin: 0;

}

/* ----third nav bar--- */

.third-nav {
  background: #020335;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.third-nav:hover {
  opacity: 1;
  background: #0A0C1B;
}

.third-navLinks {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.third-navLinks a:hover,
.nav-list a:hover {
  color: #020335;
  background-color: #58aff2;
  padding: 5px;
  border-radius: 7px;
}

.third-navLinks li {
  padding: 0 40px;
}

.third-nav div {
  margin: 0 60px;
}

.third-nav a {
  color: #f2f2f2;
}

/* ----- Body of the Home Page---- */
main {
  margin-top: 300px;
}

.home {
  display: grid;
  grid-gap: 40px;
  margin: 100px auto;
}

.slide-prods,
.pop-prods {
  text-align: center;
}

/* -----Cover---- */
main .cover {
  margin-bottom: 30px;
}

.cover {
  display: flex;
  grid-gap: 10px;
  justify-content: center;
  background-color: #06094d;
  margin: 0 100px;
  border-radius: 15px;
  padding: 40px 15px;
}

.cover-img {
  width: 500px;
  height: 270px;
  margin: 20px auto;
  border-radius: 6px;
}

.cover-txt {
  width: 35vw;
}

.cover-txt {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: #f2f2f2;
  margin-left: 10px;
}

.top {
  margin-bottom: 50px;
  color: rgb(171, 173, 174);
  font-weight: lighter;
  font-size: 0.7em;
}

.cover-txt p {
  font-size: 0.7em;
  line-height: 1.5em;
}

.cover-txt span {
  font-size: 1em;
  font-weight: 600;
  color: #FF56A9;
}

.btn {
  width: 10vw;
  background: linear-gradient(91.26deg, #3f4383 0%, #7e00a1 21.74%, #FF56A9 54.03%, #e93f60 85.28%);
  border-radius: 12px;
  margin: auto;
  padding: 8px;
  text-align: center;
  font-weight: lighter;
  font-size: 0.6em;
  cursor: pointer;

}

.dots-container {
  display: flex;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* ----slides images of Products----- */

.slide-prods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 50px;
  padding: 10px 0;
  margin: 0 15px;
  /* background-color: #58aff2; */
}

.slide-prods div {
  border-radius: 14px;
}

.slide {
  display: flex;
  justify-content: center;
  background-color: #06094d;
  padding: 10px;
  cursor: pointer;
}

.slide:hover {
  background: linear-gradient(91.26deg, #3f4383 0%, #7e00a1 21.74%, #FF56A9 54.03%, #e93f60 85.28%);
  transition: background-color 0.6s ease;
}

.slide-txt:hover {
  color: #06094d;
}

.slide2,
.slide3,
.slide4 {
  background-color: #f2f2f2;
  color: #06094d;
}

.slide-img {
  width: 100px;
  height: 70px;
  border-radius: 10%;
}

.slide-txt {
  color: #a09b9b;
  font-size: 0.6em;
  line-height: 20px;
  font-weight: 100;
  padding: 10px 15px;

}

/* ----static Images of some popular Products---- */

.pop-prods {
  display: grid;
  padding: 20px;
}

.txt-cont {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.txt1,
.txt2 {
  font-size: 0.8em;
  font-weight: 300;
}

.prods-img {
  width: auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 20px 0;
}

.img-cont {
  width: 350px;
  height: 220px;
  border-radius: 8px;
}

.img-cont:hover {
  width: 355px;
  height: 225px;
}

.hover-img {
  display: none;
}

.lap {
  background-color: #f7f3f3;
  padding: 20px 0;
  border-radius: 10px;
}

.spec {
  color: #020236;
  text-align: center;
  font-size: 0.7em;
  line-height: 20px;
  margin: 0 50px;
  padding: 10px 40px;
  text-transform: uppercase;
}

.spec:hover,
.spec-cont a:hover {
  color: #1a07e9;
}

.spec span {
  text-transform: lowercase;
}

.price {
  font-size: 0.8em;
  color: #07072a;
  margin: 8px;
  text-transform: uppercase;
}

/* -----other Contents in the body---- */

.brand-ls {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid rgb(133, 131, 130);
  border-bottom: 2px solid rgb(133, 131, 130);
  margin-bottom: 50px;
  padding: 50px 0;
  box-shadow: 2px 2px 4px #000000;
}

.brand-h {

  margin-top: 20px;

}

.brand-ls ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}

.brand-ls li {
  padding: 0 20px;
}

.logo-img {
  width: 80px;
  height: 50px;
}

.tnc2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  color: #f2f2f2;
  padding: 50px 6px;
  text-align: center;
  margin: 0 7%;
}

.box-dt {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.box h4 {
  margin-bottom: 20px;

}

.box .fa {
  font-size: 2.8em;
  padding: 10px;
  margin-left: 10px;
  background-color: floralwhite;
  border-radius: 100%;
}

.box1 .fa {
  padding-top: 18px;
}

.box-dt p {
  margin: 0 30px;
}



.bd-txt {
  background-color: rgb(251, 250, 248);
  padding: 20px 7%;
  margin: 40px 5px 0 5px;
  border: 4px solid gainsboro;
  margin-bottom: 40px;
}

.bd-txt h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.bd-txt p {

  font-size: 1em;
  line-height: 1.7em;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  padding: 10px 5px 20px 5px;
}

.box1 {
  background-color: #58aff2;
}

.box2 {
  background-color: #ea7300;
}

.box3 {
  background-color: rgb(8, 75, 8);
}

.box3 span {
  font-size: 0.8em;
}

/* -----Footer ---- */
footer {
  display: grid;
}

.ftr-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
  margin-bottom: 0;
  background-color: #000000;
}

.ftr-links div {
  margin: 10px 0;
}

.ftr-links i {
  font-size: 1.5em;
  padding: 20px;
  color: #f2f2f2;
}

#address {
  font-size: 1em;
}

.contact2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cont2-header h2 {
  color: #a49d9d;
}

.cont2-dt {
  display: flex;
  flex-direction: column;
}

.cont2-dt li,
.social-med li,
.qk-links li {
  padding: 10px;
  color: #a49d9d;
}

.contact2 h2,
.qk-links h2,
.social-med h2 {
  text-align: center;
  font-size: 1.2em;
}

.cont2-dt,
.social-med,
.qk-links {
  color: #a49d9d;
  font-size: 0.9em;
  text-align: center;
  font-weight: 800;

}

.sm {
  display: flex;
  justify-content: center;
}

.social-med a,
.qk-links a {
  color: #a49d9d;

}

.social-med ul,
.qk-links ul,
.cont2-dt ul {
  list-style: none;
  padding: 10px 0;
}

.qk-links ul a {
  font-size: 0.8em;
}

.social-med i {
  background-color: inherit;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
}

.signature {
  font-size: 0.8em;
  background-color: #0d0d23;
  padding: 20px 0;
  text-align: center;
  color: #f2f2f2;
}

.social-med i:hover {
  color: rgb(5, 106, 201);
  font-size: 2em;
  /* text-shadow: 0 0 50px var(--main-decor-color); */
}

.cont2-dt i:hover {
  color: rgb(5, 106, 201);
  font-size: 2em;
}

/* -----Hamburger----- */

.hamburger {
  display: none;

}

.hamburger2 {
  display: none;
  margin-left: 0;
}

.hamburger div {
  width: 22px;
  height: 2.5px;
  background: #f2f2f2;
  transition: all 0.3s ease;
}

.hamburger2 div {
  background: #f2f2f2;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}

.line1,
.line2,
.line3 {
  margin: 2px 0;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translatex(50px);
  }

  to {
    opacity: 1;
    transform: translatex(0px);
  }
}


/* ----media query--- */
@media only screen and (max-width: 1200px) and (min-width: 911px) {
  .slide-prods {
    display: flex;
    justify-content: center
  }

  .cover {
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px 0px;
  }

  .cover-img,
  .cover-txt {
    width: 45vw;
    height: 270px;

  }

  .cover-txt {
    width: 30vw;
    font-size: 1.3em;
  }

  .top {
    color: rgb(214, 213, 211);
    margin-bottom: 50px;
    font-weight: lighter;
  }

  .btn {
    width: 15vw;
    margin-top: 100px;
    font-size: 1em;

  }
}

@media only screen and (max-width: 912px) and (min-width: 830px) {
  .cover-img {
    width: 50vw;
    height: 18vh;
  }

  .btn {
    margin-top: 80px;
  }

  .lap:hover {
    background: inherit;

  }

  .img-cont {
    width: 300px;
    height: 200px;
  }

  .tnc2 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .box-dt p {
    font-size: 0.7em;
  }

  .box-dt h4 {
    font-size: 0.8em;
  }
}


@media only screen and (max-width: 820px) and (min-width: 751px) {


  .first-nav {
    justify-content: left;
    padding-left: 0;
  }

  .first-nav div {
    font-size: 14px;
    padding-left: 0;
  }

  .search {
    width: 500px;
  }

  .cover {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px;
  }

  .cover-img,
  .cover-txt {
    width: 50vw;
    height: 18vh;

  }

  .cover-txt {
    width: 20vw;
    font-size: 1em;
  }

  .top {
    color: rgb(214, 213, 211);
    margin-bottom: 70px;
    font-weight: lighter;
  }

  .btn {
    width: 18vw;
    margin: 0 auto;
    margin-top: 70px;

  }

  .slide-prods {
    display: flex;
    justify-content: center;
  }

  .slide2,
  .slide3,
  .slide4 {
    background-color: #06094d;
    color: #06094d;
  }

  .lap {
    background-color: inherit;
  }

  .spec {
    font-size: 0.6em;
    line-height: 35px;
  }

  .img-cont {
    width: 300px;
    height: 180px;
  }

  .logo-img {
    width: 50px;
    height: 40px;
  }

  .tnc2 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0;
  }

  .box-dt p {
    font-size: 0.6em;
  }

  .qk-links {
    display: none;
  }
}

@media only screen and (max-width: 750px) {

  a {
    font-size: 12px;
  }

  .nav-list {
    display: none;
  }

  .contact {
    margin: 10px auto;
  }

  .mail {
    margin-right: 20px;
  }

  .cart {
    font-size: 1.5em;

  }

  .hbg-link {
    display: flex;

  }

  /* ----Hamburger---- */
  .nav-bar {
    position: fixed;
    top: 100px;
    right: 0;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #111627;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
    z-index: -1;
  }

  .nav-bar li a {
    color: #f2f2f2;
  }

  .hamburger {
    display: grid;
    flex-direction: column;
  }

  .hamburger2 {
    display: none;
  }

  .second-nav div,
  .third-nav div {
    margin: 0 auto;
  }

  .second-nav {
    padding: 10px 0;
  }

  .second-nav {
    justify-content: space-around;
  }

  .third-nav {
    justify-content: left;
  }

  .third-navLinks li {
    display: none;
    padding: 0 10px;
  }

  .logo {
    bottom: 80%;
  }

  .logo a {
    font-size: 1em;
  }

  .logo img {
    width: 40px;
    height: 30px;
  }

  .search {
    margin-left: 20px;
  }

  .first-srch {
    display: none;
  }

  .second-srch {
    display: grid;
  }

  .search-input {
    width: auto;
  }

  /* ---cover--- */
  .cover {
    margin: 100px 5px;
    margin-top: 250px;
  }

  .cover-img,
  .cover-txt {
    width: 55vw;
    height: 20vh;

  }

  .cover-txt {
    width: 40vw;
    font-size: 0.8em;
  }

  .cover-txt p {
    font-size: 0.6em;
  }

  .cover-txt span {
    font-size: 0.7em;
    font-weight: 800;
  }

  .btn {
    font-size: 0.9em;
  }

  .top {
    color: rgb(214, 213, 211);
    margin-bottom: 40px;
    font-weight: lighter;
  }

  .btn {
    width: 20vw;
    margin: 0 auto;
    margin-top: 40px;

  }

  /* -----body of home page---- */

  .slide-prods {
    justify-content: center;
    grid-gap: 20px;
    margin: 0 auto;
  }

  .slide-img {
    width: 70px;
    height: 50px;
  }

  .slide2,
  .slide3,
  .slide4 {
    background-color: #06094d;
    color: #06094d;
  }

  .prods-img {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .pop-prods {
    margin-bottom: -100px;
  }

  .img-cont {
    width: 180px;
    height: 120px;
  }

  .img-cont:hover {
    width: 190px;
    height: 125px;
  }

  .lap {
    background-color: inherit;
  }

  .lap .spec {
    font-size: 0.5em;
    margin: 0;
    padding: 10px 50px;
  }

  .tnc2 {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .brand-ls {
    display: flex;
    justify-content: flex-start;
  }

  .brand-ls ul {
    justify-content: flex-start;
    padding-left: 10%;
  }

  .brand-h h3 {
    font-size: 1.2em;
  }

  .logo-img {
    width: 70px;
    height: 40px;
  }

  .bd-txt {
    padding: 10px;
  }

  .bd-txt h3 {
    font-size: 1em;
  }

  .bd-txt p {
    font-size: 0.8em;
    line-height: 1.5em;
  }

  .box-dt p {
    font-size: 0.6em;
  }

  .box-dt h4 {
    font-size: 0.8em;
  }

  .brand-ls {
    padding-left: 15px;
  }

  .brand-h h3 {
    margin-bottom: 20px;
  }

  .qk-links {
    display: none;
  }

  .social-med li,
  .cont2-dt li {
    padding: 5px;
  }

  #address {
    line-height: 1.5em;
  }

  .contact2 h2,
  .qk-links h2,
  .social-med h2 {
    font-size: 0.9em;
  }

  .contact2 ul,
  .qk-links ul,
  .social-med ul {
    text-align: center;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 690px) and (min-width: 670px) {
  .prods-img {
    width: auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .img-cont {
    width: 180px;
    height: 120px;
  }

  .cover-img {
    width: 50vw;
    height: 27vh;
  }

  .cover-txt {
    width: 35vw;
    margin-right: 30px;
    margin-left: 30px;
  }

}

@media only screen and (max-width: 540px) {
  .second-nav div {
    margin: 0 auto;
  }

  .mail {
    margin-right: 10px;
  }

  .txt-cont {
    font-size: 12px;
  }

  .contact div {
    font-size: 0.8em;
  }

  .brand-ls {
    display: flex;
    justify-content: flex-start;
  }

  .brand-ls ul {
    justify-content: flex-start;
  }

  .brand-h h3 {
    font-size: 0.9em;
  }

}

.nav-active {
  transform: translatex(0%);
}

@media only screen and (max-width: 420px) {
  .cover {
    padding-left: 0px;
  }

  .cover-img,
  .cover-txt {
    width: 55vw;
    height: 17vh;
  }

  .cover-txt {
    width: 40vw;
    font-size: 0.8em;
  }

  .top {
    color: rgb(214, 213, 211);
    font-weight: lighter;
  }

  .btn {
    width: 20vw;
    margin: 0 auto;
    margin-top: 30px;

  }

  .img-cont {
    width: 180px;
    height: 140px;
  }

  .brand-h h3 {
    font-size: 0.8em;
  }

}

@media only screen and (max-width: 375px) {
  .img-cont {
    width: 180px;
    height: 140px;
  }
}

@media only screen and (max-width: 280px) {

  .mail {
    display: none;
  }

  .phone {
    display: none
  }

  .nav-bar {
    height: 70vh;
  }

  .logo {
    top: 10px;
    z-index: 5;
    margin-right: 20px;
  }

  .first-nav ul li {
    padding: 12px;
  }

  .second-nav {
    position: relative;
    top: -20px;
  }

  .third-nav {
    position: relative;
    top: -30px;
  }

  .cover {
    margin: -140px;
    margin-left: auto;
    margin-right: auto;
  }

  .cover-img {
    width: 60vw;
    height: 18vh;
    margin-left: 10px;
  }

  .cover-txt {
    width: 30vw;
    padding: 0;
    font-size: 0.7em;
    margin-left: 5px;
    font-weight: lighter;
  }

  .slide2 {
    display: none;
  }

  .slide4 {
    display: none;
  }

  .slide-prods {
    margin-top: -80px;
    margin-bottom: -40px;
  }

  .pop-prods {
    margin-bottom: -100px;
  }

  .top {
    margin-bottom: 20px;
    margin-top: 0;
  }

  .btn {
    margin-top: 20px;
  }

  .img-cont {
    width: 150px;
    height: 100px;
  }

  .spec {
    line-height: 20px;
    padding: 0 30px;
  }

  .logo-img {
    width: 70px;
    height: 40px;
  }

  .brand-ls {
    display: flex;
    flex-wrap: wrap;
  }

  .len img,
  .hu img {
    width: 100px;
    height: 50px;
  }

  .box .fa {
    border-radius: 50%;
    padding-top: 15px;
    font-size: 2.5em;
  }

  .box p {
    font-size: 0.6em;
    margin: 0;
  }

  .bd-txt p {
    font-size: 0.7em;
    line-height: 1.3em;
  }

  .tnc2 {
    display: flex;
    flex-wrap: wrap;
  }

  .ftr-links {
    font-size: 0.7em;
  }
}

/* -----Account styling---- */
.disappear {
  display: none;
}

.logo-a {
  bottom: 50%;
}

.first-cont {
  display: flex;
  justify-content: space-between;
  padding: 20px 2%;
}

.right {
  color: #928b8b;
  font-size: 1.3em;
}

.left {
  display: flex;
}

.home {
  font-size: 1.3em;
  margin-top: 0px;
}

.my-acc a {
  color: #928b8b;
}

.stroke {
  font-weight: bold;
  margin-right: 5px;
}

.sec-cont {
  display: flex;
  margin-left: 3%;
}

.right-cont {
  margin-left: 7%;
}

.left-cont {
  background-color: #f5f5f5;
  width: 35vw;
}

.left-cont ul {
  list-style: none;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.left-cont ul li {
  padding-top: 20px;
}

.left-cont hr {
  margin-top: 13px;
  color: #f5f5f5;
  font-size: 0.5em;
  font-weight: lighter;
}

.user {
  margin-bottom: 30px;
}

/* -----Account page media Query---- */

@media only screen and (max-width: 1200px) and (min-width: 911px) {
  .left-cont ul li {
    font-size: 0.7em;
  }

  .user-info p {
    font-size: 0.9;
  }
}

@media only screen and (max-width: 912px) and (min-width: 830px) {

  .search {
    margin-left: 20px;
  }


  .left-cont ul li {
    font-size: 0.7em;
  }

  .user-info p {
    font-size: 0.9;
  }
}

@media only screen and (max-width: 820px) and (min-width: 751px) {
  .left-cont ul li {
    font-size: 0.7em;
  }

  .user-info p {
    font-size: 0.9;
  }


}

@media only screen and (max-width: 750px) {
  .nav-bar {
    top: 10px;
  }

  .reg-nav ul li {
    padding: 15px 0;
  }

  .first-nav {
    display: flex;
  }

  .reg-nav {
    padding: 10px 0;
    position: relative;
    top: -20px;
  }

  .no-third-nav {
    display: none;
  }

  .logo-a {
    bottom: 7px;
  }

  main {
    margin-top: 100px;
  }

  .home {
    margin-top: 0px;
  }

  .home i {
    font-size: 1.7em;
  }

  /* ----dashbord---- */
  .sec-cont {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px 7%;
  }

  .right-cont {
    margin-left: 0;
    margin-bottom: 40px;
  }

  .left-cont {
    background-color: #f5f5f5;
    width: 100%;
  }
}

/* -----Registration & Signin page styling----- */

.second-cont-reg {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

.my-acc a:hover {
  color: #000000;
}

.second-cont-reg div {
  padding: 0 20px;
}

.sign-up a {
  color: #020335;
}

.sign-up a:hover {
  color: #58aff2;
}

.login a {
  color: #58aff2;
}

.login a:hover {
  color: #020335;
}

.third-cont {
  text-align: center;
  color: #f2f2f2;
  background-color: #02042c;
  margin: 30px 20%;
  padding: 30px 0;
  border: 0px solid #908d8d;
  box-shadow: 2px 6px 8px #000000;
  border-radius: 24px;
}

.third-cont p {
  margin-bottom: 30px;

}

.reduce-width {
  margin: 30px 30%;
}

hr {
  margin: 10px 0;
  font-size: 1.2em;
}

.third-cont input {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #d8d3d3;
}


#tnc {
  margin: 15px 0;
}

.submit-cont button {
  width: 25%;
  padding: 10px 0;
}


.cancelbtn {
  background: linear-gradient(91.26deg, #3f4383 0%, #7e00a1 21.74%, #FF56A9 54.03%, #e93f60 85.28%);
  border-radius: 12px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  border: none;
}

.signupbtn {
  background: linear-gradient(91.26deg, #58aff2 0%, #7e00a1 21.74%, #56b0ff 54.03%, #3f4383 85.28%);
  border-radius: 12px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  border: none;
}

.psw-recover {
  background-color: inherit;
  color: #f2f2f2;
  font-size: 0.8em;
  border: none;
  cursor: pointer;

}

.submit-cont br {
  display: none;
}

/* -----registration & Signin page media query---- */

@media only screen and (max-width: 912px) and (min-width: 830px) {
  .third-cont {
    margin: 30px 10%;
    padding: 30px 0;
    border-radius: 24px;
  }

  .third-cont input {
    width: 60%;
  }
}

@media only screen and (max-width: 820px) and (min-width: 751px) {
  .third-cont {
    margin: 30px 10%;
    padding: 30px 0;
    border-radius: 24px;
  }

  .third-cont input {
    width: 60%;
  }
}

@media only screen and (max-width: 750px) {
  main {
    margin-top: 100px;
  }

  .no-third-nav {
    display: none;
  }

  .logo-r {
    top: 10px;
  }

  /* -----Registration form---- */
  .first-cont {
    margin-bottom: -60px;
  }

  .third-cont {
    margin: 30px 20%;
    padding: 30px 0;
    border-radius: 18px;
  }

  .third-cont input {
    width: 60%;
  }

  .third-cont p,
  .third-cont label {
    font-size: 0.8em;
  }

  .submit-cont {
    display: block;
  }

  .submit-cont button {
    width: 40%;
    padding: 8px 0;
    border-radius: 7px;
  }

  .submit-cont .psw-recover {
    width: 50%;
  }

  .reg-nav {
    top: 0px;
  }

  .submit-cont br {
    display: flex;
  }
}

/* -----Shop Styling----- */

.shop {
  display: flex;
  margin: 0 2%;
}

.right-2 {
  color: #000000;
}

.cat-section {
  width: 20vw;
  height: 61vh;
  border: 1px solid rgb(8, 3, 57);
  border-radius: 8px;
  padding: 0;
  margin-top: 50px;
}

.cat-section ul {
  padding: 10px 0px;
}

.cat-section ul a,
.cat-header {
  text-align: center;
  padding: 10px 50px;
  font-size: 0.8em;
  color: #312f2f;
}

.cat-section ul a:hover {
  color: #000000;
}

.cat-header {
  font-weight: bolder;
  color: #000000;
  text-transform: uppercase;
}

.shop-grid {
  width: 80vw;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 20px 0;
  padding: 20px;
  margin-left: 3%;
}

.shop-items {
  border: 1px solid #bbb;
  padding: 10px;
  border-radius: 10px;
}

.shop-img {
  width: 200px;
  height: 170px;
  text-align: center;
  border-radius: 8px;
}

.shop-img:hover {
  width: 210px;
  height: 180px;
}

.dis-price {
  width: 45px;
  background-color: red;
  border-radius: 10px;
  padding: 3px;
  text-align: center;
  margin-bottom: 40px;
  color: #f2f2f2;
}

.spec-cont {
  margin: 20px 0;
  font-size: 0.9em;
  text-align: center;
}

/* 
.spec-cont a:hover {
  color: #1a07e9;
} */

.spec-cont .price {
  font-size: 1em;
  font-weight: 600;
  margin-top: 30px;
}

.iphone-img {
  width: 210px;
  height: 200px;
}

.iphone-img:hover {
  width: 215px;
  height: 205px;
}

/* -----Shop Styling--- */

@media only screen and (max-width: 912px) and (min-width: 830px) {
  .cat-section {
    height: 31vh;
    margin-top: 40px;
  }

  .cat-header {
    font-size: 0.7em;
    text-align: center;
    padding-left: 25px;
  }

  .shop-img {
    width: 100%;
    height: 120px;

  }

  .shop-img:hover {
    width: 172px;
    height: 125px;
  }
}

@media only screen and (max-width: 820px) and (min-width: 751px) {
  .cat-section {
    height: 40vh;
    margin-top: 40px;
  }

  .cat-header {
    font-size: 0.7em;
    text-align: center;
    padding-left: 25px;
  }

  .shop-img {
    width: 100%;
    height: 120px;

  }

  .shop-img:hover {
    width: 172px;
    height: 125px;
  }
}

@media only screen and (max-width: 750px) {
  .cat-section {
    display: none;
  }

  .shop-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .shop-img {
    width: 100%;
    height: 120px;

  }

  .shop-img:hover {
    width: 172px;
    height: 125px;
  }

  .spec-cont {
    font-size: 0.7em;
  }

  .iphone-img {
    width: 100%;
    height: 180px;
  }

  .iphone-img:hover {
    width: 102%;
    height: 185px;
  }
}

@media only screen and (max-width: 412px) {
  .shop-grid {
    margin-left: 10%;
    margin-right: 10%;
  }

  .shop-items {
    padding-left: 10%;
    padding-right: 10%;
  }

  .shop-img {
    height: 160px;

  }
}