@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  position: absolute;
}

/* -----First Nav Bar----- */

.main-nav {
  width: inherit;
  display: grid;
}

nav {
  position: fixed;

}

.first-nav {
  background: rgb(236, 238, 240);
  display: flex;
  justify-content: center;
  padding-left: 40px;

}

.hbg-link {
  display: none;
}

.logo {
  margin-top: 0;
  position: absolute;
  bottom: 72%;
  left: 2%;
}

.logo a {
  font-size: 1.5em;
  color: #f2f2f2;
  font-weight: 600;
  text-decoration: none;
}

.logo img {
  width: 50px;
  height: 40px;
  border-radius: 100%;
}

.nav-list {
  display: flex;
  padding: 0 20px;
  font-weight: 600;
}

.contact {
  display: flex;
  margin-top: 20px;
  font-weight: 600;
}

.nav-list li {
  list-style: none;
  padding: 20px;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: 600;
}

i {
  margin-right: 3px;
  color: rgb(5, 106, 201);
}

.mail {
  margin-right: 20px;
}

/* -----Second Nav bar---- */

.second-nav {
  background: #131921;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;

}

.search {
  display: flex;
}

.second-srch {
  display: none;
}

.search-input {
  width: 600px;
  padding: 12px 5px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;

}

.submit {
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 6px;
  background: #58aff2;
  font-weight: 600;
  cursor: pointer;
}

.cart {
  font-size: 2em;
  margin: 0;

}

/* ----third nav bar--- */

.third-nav {
  background: #020335;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.third-nav:hover {
  opacity: 1;
  background: #0A0C1B;
}

.third-navLinks {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.third-navLinks a:hover,
.nav-list a:hover {
  color: #020335;
  background-color: #58aff2;
  padding: 5px;
  border-radius: 7px;
}

.third-navLinks li {
  padding: 0 40px;
}

.third-nav div {
  margin: 0 60px;
}

.third-nav a {
  color: #f2f2f2;
}

/* ----- Body of the Home Page---- */
main {
  margin-top: 200px;
}

.first-cont {
  display: flex;
  justify-content: space-between;
  padding: 20px 2%;
}

.right {
  color: #928b8b;
  font-size: 1.3em;
}

.left {
  display: flex;
}

.home i {
  font-size: 1.3em;
}

.my-acc a {
  color: #928b8b;
}

.stroke {
  font-weight: bold;
  margin-right: 5px;
}

.second-cont {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

.second-cont div {
  padding: 0 20px;
}

.sign-up a {
  color: #020335;
}

.sign-up a:hover {
  color: #58aff2;
}

.login a {
  color: #58aff2;
}

.login a:hover {
  color: #020335;
}

.third-cont {
  text-align: center;
  color: #f2f2f2;
  background-color: #02042c;
  margin: 30px 20%;
  padding: 30px 0;
  border: 0px solid #908d8d;
  box-shadow: 2px 6px 8px #000000;
  border-radius: 24px;
}

.third-cont p {
  margin-bottom: 30px;

}

hr {
  margin: 10px 0;
  font-size: 1.2em;
}

.third-cont input {
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #d8d3d3;
}

#tnc {
  margin: 15px 0;
}

.submit-cont button {
  width: 25%;
  padding: 10px;
}


.cancelbtn {
  background: linear-gradient(91.26deg, #3f4383 0%, #7e00a1 21.74%, #FF56A9 54.03%, #e93f60 85.28%);
  border-radius: 12px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  border: none;
}

.signupbtn {
  background: linear-gradient(91.26deg, #58aff2 0%, #7e00a1 21.74%, #56b0ff 54.03%, #3f4383 85.28%);
  border-radius: 12px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  border: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* ----slides images of Products----- */




/* -----Footer ---- */
footer {
  display: grid;
}

.ftr-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0;
  margin-bottom: 0;
  background-color: #000000;
}

.ftr-links div {
  margin: 10px 0;
}

.ftr-links i {
  font-size: 1.5em;
  padding: 20px;
  color: #f2f2f2;
}

#address {
  font-size: 1em;
}

.contact2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cont2-header h2 {
  color: #a49d9d;
}

.cont2-dt {
  display: flex;
  flex-direction: column;
}

.cont2-dt li,
.social-med li,
.qk-links li {
  padding: 10px;
  color: #a49d9d;
}

.contact2 h2,
.qk-links h2,
.social-med h2 {
  text-align: center;
  font-size: 1.2em;
}

.cont2-dt,
.social-med,
.qk-links {
  color: #a49d9d;
  font-size: 0.9em;
  text-align: center;
  font-weight: 800;

}

.sm {
  display: flex;
  justify-content: center;
}

.social-med a,
.qk-links a {
  color: #a49d9d;

}

.social-med ul,
.qk-links ul,
.cont2-dt ul {
  list-style: none;
  padding: 10px 0;
}

.signature {
  font-size: 0.8em;
  background-color: #0d0d23;
  padding: 20px 0;
  text-align: center;
  color: #f2f2f2;
}

.social-med i:hover {
  color: rgb(5, 106, 201);
  font-size: 2em;
  /* text-shadow: 0 0 50px var(--main-decor-color); */
}

.cont2-dt i:hover {
  color: rgb(5, 106, 201);
  font-size: 2em;
}

/* -----Hamburger----- */

.hamburger {
  display: none;

}

.hamburger2 {
  display: none;
  margin-left: 0;
}

.hamburger div {
  width: 22px;
  height: 2.5px;
  background: #f2f2f2;
  transition: all 0.3s ease;
}

.hamburger2 div {
  background: #f2f2f2;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 5px);
}

.line1,
.line2,
.line3 {
  margin: 2px 0;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translatex(50px);
  }

  to {
    opacity: 1;
    transform: translatex(0px);
  }
}


/* ----media query--- */
@media only screen and (max-width: 1200px) and (min-width: 911px) {}

@media only screen and (max-width: 912px) and (min-width: 830px) {
  .third-cont {
    margin: 30px 10%;
    padding: 30px 0;
    border-radius: 24px;
  }

  .third-cont input {
    width: 75%;
  }
}




@media only screen and (max-width: 820px) and (min-width: 751px) {


  .first-nav {
    justify-content: left;
    padding-left: 0;
  }

  .first-nav div {
    font-size: 14px;
    padding-left: 0;
  }

  .search {
    width: 500px;
  }

  /* -----Registration form---- */

  .third-cont {
    margin: 30px 10%;
    padding: 30px 0;
    border-radius: 24px;
  }

  .third-cont input {
    width: 75%;
  }


}

@media only screen and (max-width: 750px) {

  a {
    font-size: 12px;
  }

  .nav-list {
    display: none;
  }

  .contact {
    margin: 10px auto;
  }

  .mail {
    margin-right: 20px;
  }

  .cart {
    font-size: 1.5em;

  }

  .hbg-link {
    display: flex;
  }

  /* ----Hamburger---- */
  .nav-bar {
    position: fixed;
    top: 80px;
    right: 0;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #111627;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
    z-index: -1;
  }

  .nav-bar li a {
    color: #f2f2f2;
  }

  .hamburger {
    display: grid;
    flex-direction: column;
  }

  .hamburger2 {
    display: none;
  }

  .first-nav ul li {
    padding: 15px;
  }

  .first-nav ul {
    margin-top: -40px;
  }

  .second-nav div,
  .third-nav div {
    margin: 0 auto;
  }

  .second-nav {
    padding: 10px 0;
  }

  .second-nav {
    justify-content: space-around;
  }

  .third-nav {
    justify-content: left;
  }

  .third-navLinks li {
    display: none;
    padding: 0 10px;
  }

  .logo {
    bottom: 60%;
  }

  .logo a {
    font-size: 1em;
  }

  .logo img {
    width: 40px;
    height: 30px;
  }

  .search {
    margin-left: 20px;
  }

  .first-srch {
    display: none;
  }

  .second-srch {
    display: grid;
  }

  .search-input {
    width: auto;
  }

  main {
    margin-top: 100px;
  }

  .third-nav {
    display: none;
  }


  /* -----Registration form---- */
  .third-cont {
    margin: 30px 2%;
    padding: 30px 0;
    border-radius: 24px;
  }

  .third-cont input {
    width: 80%;
  }

  .submit-cont button {
    width: 40%;
  }

  .qk-links {
    display: none;
  }

  .social-med li,
  .cont2-dt li {
    padding: 5px;
  }

  #address {
    line-height: 1.5em;
  }

  .contact2 h2,
  .qk-links h2,
  .social-med h2 {
    font-size: 0.9em;
  }

  .contact2 ul,
  .qk-links ul,
  .social-med ul {
    text-align: center;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 690px) and (min-width: 670px) {}

@media only screen and (max-width: 670px) {
  .second-nav div {
    margin: 0 auto;
  }

  .mail {
    margin-right: 10px;
  }

  .txt-cont {
    font-size: 12px;
  }

  .contact div {
    font-size: 0.8em;
  }


}

.nav-active {
  transform: translatex(0%);
}

@media only screen and (max-width: 420px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 280px) {
  main {
    margin-top: 50px;
  }

  .mail {
    font-size: 0.5;
  }

  .first-nav {
    display: none;
  }

  .logo {
    display: none;
  }

  .logo-img {
    width: 70px;
    height: 40px;
  }

  .ftr-links {
    font-size: 0.7em;
  }
}